#bgvideo {
    position: relative;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 8%;
    z-index: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#playpausebtn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 0.5vw;
    color: whitesmoke;
    font-size: 2vw;
    width: 3vw;
    height: 2.7vw;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

#playpausebtn span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-52%, -52%);
}

.welcome{
    position: relative;
    margin: auto;
    margin-top: 46%;
    height: 16vw;
    width: 65vw;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 248, 255, 0.75);
    color: rgb(29, 147, 113);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.welcome h3 {
    font-size: 2.5vw;
    font-weight: 650;
}

.descript{
    display: flex;
    position: relative;
    width: 100%;
    height: 25vw;
    margin-top: 15vw;
    background-color:  whitesmoke ;
}

.descriptxt {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: fit-content;
    top: 3vw;
    left: 3vw;
}

.descript h3{
    color: rgb(29, 147, 113);
    font-size: 2.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 10vw;
}

.descript p{
    margin-top: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25vw;
    text-align: justify;
}

#countryico {
    position: relative;
    height: 23vw;
    top: 2.1vw;
    left: 6vw;
}

.advicezone {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 35vw;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 20vw;
    gap: 1vw;
}

#advicetitle{
    color: rgb(29, 147, 113);
    font-size: 2.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2vw;
    margin-bottom: -0.5vw;
}

#titletower {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    text-align: center;
    width: 15vw;
    margin-top: 3vw;
    margin-left: 53vw;
}

#titlecedric{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    text-align: center;
    width: 30vw;
    margin-top: 3vw;
    margin-left: 44vw;
}

#titlecytech, #titlenachitos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    text-align: center;
    width: 15vw;
    margin-top: 6vw;
    margin-left: 20vw;
}

#titleport{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    width: 15vw;
    margin-top: 3vw;
    margin-left: 53vw;
}

#titlegrenouille{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    width: 40vw;
    margin-top: 3vw;
    margin-left: 41vw;
}

#titledisney{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    width: 35vw;
    margin-top: 5vw;
    margin-left: 12vw;
}

#titlepeniche{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    width: 15vw;
    margin-top: 3vw;
    margin-left: 47vw;
    width: 30vw;
}

#titlecourchevel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 147, 113);
    font-size: 1.7vw;
    font-weight: bold;
    width: 45vw;
    margin-top: 3vw;
    margin-left: 37vw;
}

#descripttower, #descriptpeniche, #descriptgrenouille {
    text-align: justify;
    font-size: 1.4vw;
    width: 60vw;
    margin-top: 2vh;
    margin-left: 29vw;
}

#descriptcytech{
    text-align: justify;
    font-size: 1.4vw;
    width: 60vw;
    margin-top: 2vh;
    margin-left: -2vw;
}

#descriptport, #descriptcourchevel{
    text-align: justify;
    font-size: 1.4vw;
    width: 60vw;
    margin-top: 2vh;
    margin-left: 29vw;
}

#descriptdisney{
    text-align: justify;
    font-size: 1.4vw;
    width: 60vw;
    margin-top: 2vh;
    margin-left: -2vw;
}

.area_spots_one > p, .area_restaurants_one > p, .area_activities_one > p{
    margin-top: 2vh;
    font-size: 1.4vw;
}

#adresstower{
    position: relative;
    top: 1vw;
    left: 16vw;
    color: rgb(29, 147, 113);
    text-decoration: none;
    font-size: 1.5vw;
}

#adresscytech{
    position: relative;
    margin-right: 35vw;
    color: rgb(29, 147, 113);
    text-decoration: none;
    font-size: 1.5vw;
    height: 23vw;
}

#adressport{
    position: relative;
    top: 1vw;
    right: 2vw;
    color: rgb(29, 147, 113);
    text-decoration: none;
    font-size: 1.5vw;
    margin-left: 35vw;
    height: 23vw;
}

#adressdisney{
    position: relative;
    margin-right: 35vw;
    color: rgb(29, 147, 113);
    text-decoration: none;
    font-size: 1.5vw;
    height: 23vw;
}

#adresstower:hover, #adresscytech:hover, #adressport:hover, #adressdisney:hover{
    color: rgb(14, 199, 146);
}

#imgeffeltower {
    position: absolute;
    height: 16vw;
    margin-top: 3vw;
    margin-left: -45vw;
}

#imgcedric{
    position: absolute;
    height: 16vw;
    margin-top: 3vw;
    margin-left: -46.8vw;
}

#imgpeniche{
    position: absolute;
    height: 16vw;
    margin-top: 3vw;
    margin-left: -45vw;
    width: 28vw;
}

#imgcytech{
    position: absolute;
    height: 13.5vw;
    margin-top: -1vw;
    margin-left: 15vw;
}

#imgdisney{
    position: absolute;
    height: 13.5vw;
    margin-top: -0.9vw;
    margin-left: 17vw;
    width: 27vw;
    height: 22vh;
}

#imgport{
    position: absolute;
    height: 22vh;
    margin-top: 2vw;
    margin-left: -46.5vw;
    width: 30vw ;
}

#imggrenouille{
    position: absolute;
    height: 13vw;
    margin-top: -1.5vw;
    margin-left: -44.5vw;
    width: 25vw;
}

#imgcourchevel{
    position: absolute;
    height: 17vw;
    margin-top: -0.5vw;
    margin-left: -46.5vw;
    width: 30vw;
}

#imgnachitos{
    position: absolute;
    height: 15vw;
    margin-top: -1vw;
    margin-left: 15vw;
    width: 30vw;
}

.blogzone {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 65vw;
    margin-top: 35vw;
    background-color: whitesmoke;
    text-align: center;
    margin-bottom: 20vw;
}

#hubtitle{
    color: rgb(29, 147, 113);
    font-size: 2.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3vw;
}

.hub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5vw;
    margin-top: 4.5vw;
}

.section {
    border-radius: 10%;
    border: solid rgb(29, 147, 113, 0.6) 0.5vw;
    position: relative;
    display: flex;
    justify-content: center;
    width: 28vw;
    height: 30vw;
}

.section h3 {
    border-bottom: solid rgb(29, 147, 113) 0.2vw;
    width: fit-content;
    height: fit-content;
    margin-top: 1.5vw;
    font-size: 2vw;
    padding-bottom: 0.35vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.advice1, .advice2, .advice3 {
    border: solid rgb(29, 147, 113, 0.6) 0.5vw;
    position: relative;
    display: flex;
    justify-content: center;
    width: 95vw;
    margin-left: 2.2vw;
    /* margin-top: 4vh; */
    padding-bottom: 4vh;
}

.advice1 h3, .advice2 h3, .advice3 h3 {
    border-bottom: solid rgb(29, 147, 113) 0.2vw;
    width: fit-content;
    height: fit-content;
    margin-left: 42vw;
    margin-top: 1.5vw;
    font-size: 2vw;
    padding-bottom: 0.35vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.advice3 {
    margin-bottom: 5vw;
}


.blog {
    position: absolute;
    border-radius: 0.7vw;
    top: 20%;
    right: 4.5%;
    width: 25vw;
    height: 18vw;
    border: solid black 0.2vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(29, 147, 113) rgb(245, 245, 245, 0);
}

.txtblog {
    position: absolute;
    border-radius: 0.7vw;
    font-size: 0.7vw;
    top: 85%;
    right: 22.5%;
    width: 18vw;
    height: 2.5vw;
    border: solid black 0.2vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
    background-color: white;
    overflow-wrap: break-word;
    resize: none;
    transition: height 1s ease;
    scrollbar-width: thin;
    scrollbar-color: rgb(29, 147, 113) rgb(245, 245, 245, 0);    
}

.txtsearch {
    position: relative;
    top: 2vw;
    border-radius: 0.7vw;
    font-size: 1.4vw;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 2vw;
    border: solid black 0.2vw;
    padding-left: 1vw;
    padding-top: 0.6vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
    background-color: white;
    overflow-wrap: break-word;
    resize: none;
}

#searchicon {
    width: 6vw;
}

#searchbtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8.7vw;
    left: 60.5vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    background-color: whitesmoke;
    border: none;
    overflow: hidden;
}

.btnsize img{
    width: 1.5vw;
}

.btnsize {
    position: absolute;
    top: 95%;
    left: 79%;
    width: 1.2vw;
    height: 0.8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: whitesmoke;
    transition: transform 1s ease;
}

.btnblog {
    position: absolute;
    top: 85%;
    right: 3%;
    border-radius: 0.7vw;
    background-color: rgb(29, 147, 113, 0.6);
    border: none;
    width: 5vw;
    height: 2.5vw;
    font-weight: 700;
    font-size: 1.1vw;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
}

.btnblog:hover {
    background-color: rgb(29, 147, 113);
}

.arraycoms {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2%;
    min-height: 25%;
    height: fit-content;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0.5vw;
}

.onecom {
    position: relative;
    display: flex;
    height: fit-content;
    left: 4%;
    width: 92%;
    flex-direction: row;
    border-bottom: solid black 0.2vw;
    margin-bottom: 0.8vw;
}

.btndel {
    position: absolute;
    top: 2.1vw;
    left: 0.8vw;
    background-color: white;
    border: none;
    width: 1.2vw;
    height: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.btndel img {
    background-color: none;
    width: 2vw;
    height: 2vw;
}

.pseudlike {
    display: flex;
    flex-direction: column;
}

.empty{
    position: relative;
    width: 2vw; 
	height: 2vw; 
    margin-bottom: -0.5vw;
    z-index: 2;
    right: 0.2vw;
	background: black;
	clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
}

.filled {
    position: absolute;
    left: 2.5vw;
    width: 2vw; 
	height: 2vw; 
    margin-bottom: -0.5vw;
    z-index: 1;
	background: red;
	clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    cursor: pointer;
}

.likenb {
    position: absolute;
    top: 2.2vw;
    left: 5vw;
    font-size: 0.9vw;
}

#com {
    text-align: justify;
    width: 15vw;
    margin-top: 0.5vw;
    font-weight: 450;
    overflow-wrap: break-word;
    margin-bottom: 0.5vw;
    font-size: 0.9vw;
}

#who {
    width: 7vw;
    height: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    font-weight: 450;
    overflow-wrap: break-word;
    margin-bottom: 0.5vw;
    font-size: 0.9vw;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7vw;
    margin-left: 15vw;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 5vw;
    height: 5vw;
    position: relative;
    top: 0.5vw;
    background-color: whitesmoke;
    cursor: pointer;
}

.starborder {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 6vw;
    height: 6vw;
    background-color: black;
}

.yellowrect {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-color: rgb(254, 206, 0);
    right: 6vw;
    bottom: 0.25vw;
    transition: transform 0.5s ease;
}

.yellowrect_ {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-color: rgb(254, 206, 0);
    bottom: 0.25vw;
    transition: transform 0.5s ease;
}

#ratetxt {
    position: absolute;
    top: 54.5vw;
    left: 13vw;
    font-size: 1.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#average {
    position: absolute;
    top: 60vw;
    left: 45vw;
    font-size: 1.5vw;
}